<div>
  <h2>Login</h2>
  <form (submit)="login($event)">
    <label for="usernameOrEmail">Username or Email:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
    <button type="button" (click)="goToRegister()">Register</button>
    <button type="button" (click)="goToRecoverPassword()">Recover Password</button>
  </form>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
